{
font-family: 'Muli', sans-serif;
}
body {

background-color: rgb(90, 197, 230);
}

h1 {
font-family: 'Muli', sans-serif;
color: white;
text-align: center;
margin-top: 6.15%;
}

.form_box {
height: 60%;
width: 380px;
position: relative;
margin: 6% auto;
background-color: aliceblue;
padding: 5px;
border-radius: 7.5%;
overflow: hidden;
}

.button_box{
width: 220px;
position: relative;
margin: 10% auto;
background-color: #ffffff;
box-shadow: 0 0 20px 9px rgb(169, 225, 235);
#border-radius: 9%;

}

.log_reg_btn{
padding: 7% 14%;
cursor: pointer;
background: transparent;
border: 0;
outline: none;
position: relative;
}

#btn{ /Log In and Register Button/
top: 0;
left: 0;
bottom: 0;
position: absolute;
width: 50%;
height: 100%;
background: linear-gradient(to right, #10a7ff, #06eeff);
#border-radius: 9%;
}

.input{

position: absolute;
width: 280px;
transition: .5s;
}

.input_field{
width: 100%;
padding: 10px 0;
margin: 5px 0;
border-left: 0;
border-top: 0;
border-right: 0;
border-bottom: 1px solid #999;
outline: none;
background: transparent;

}

.submit_btn{ /* log in button */
width: 65%;
padding: 10px 30px;
display: block;
cursor: pointer;
margin-top: 10px;
background: linear-gradient(to right, #10a7ff, #06eeff);
border: 0;
outline: none;
border-radius: 45px;
}

#Login{
margin: 35px auto;
left: 50px;
}

#Register{
left: 450px;
}
