<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>

<body>
  <div id='ecoscoreTag'>Your ecoscore is: </div>
  <button onclick='calculate()'>Click me</button>
 
  <div class="container">
    <canvas id="PieChartOfTransportations"width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas>
  </div>
  <div class="container">
    <canvas id="LeaderBoard"></canvas>
  </div>

  <script>

    

   
  </script>

<script type="text/javascript" src="../public/js/ecocharts.js"></script>

</body>

</html>