<html>
<script></script>

<head>
    <meta charset="UTF-8">

    <title>Main page</title>
    <link rel="stylesheet" href="/public/css/main_page.css">

    <link href="https://fonts.googleapis.com/css?family=Muli|Raleway&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

</head>

<body onload='runOnload()'>

    <div class="header">
        <h1>ECO PROJECT</h1>
        <p>Every moment is a fresh beginning. </p>
        <p style="font-size: 15px;">– T.S Eliot </p>
    </div>

    <span style="font-size: 30px;" class="colapsed_menu" onclick="openNav() ">&#9776; </span>

    <!-- The sidebar -->
    <div id="mySidenav" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="active" href="#score">Score οικολογικής μετακίνησης</a>
        <a href="#leaderboard">Leaderboard</a>
        <a href="#heatmap">Γράφημα - Heatmap</a>
        <a href="#upload">Upload</a>
        <a href="#about">About</a>
    </div>



    <div class="main">

        <h2>Welcome, <%=x%> </h2>

        <div id="score" style="margin-top: 0px">
            <h2>Score οικολογικής μετακίνησης.</h2>
            <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px;">
            <p style="margin-top:35px">ΚΑΤΑΠΛΗΚΤΙΚΑ!</p>


            <div id='ecoscoreTag'>Your ecoscore is: </div>
            <!-- <button onclick='calculate()'>REFRESH</button> -->

            <div class="container">
                <canvas id="PieChartOfTransportations" width="400" height="100" aria-label="Hello ARIA World"
                    role="img"></canvas>
            </div>

        </div>

        <div id="leaderboard" style="margin-top: 75px">
            <h2>Leaderboard.</h2>
            <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px;">
            <p style="margin-top:35px">ΟΙ 3 ΚΑΛΥΤΕΡΟΙ!</p>
            <input type="date" id="datePicker" onblur="dateChoosed(event)">
            <label id="label">When is the beginning of the month?</label>
            <canvas id="goodCanvas1" width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas>
            <script type="text/javascript" src="public/js/leaderboard.js"></script>

        </div>

        <div id="heatmap" style="margin-top: 75px">
            <h2>Γράφημα - Heatmap.</h2>
            <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px; ">
            <p style="margin-top:35px">Επελεξε φιλτρα!</p>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <input type="date" id="startDate" name="From">
            <input type="date" id="endDate" name="Until">
            <button id="submitDatesButton" onclick="submitDates()">Range Dates</button>
            <button id="showFullHeatmapButton" onclick="showFullHeatmap()">Draw Whole Heatmap</button>
            <div id="mapid"></div>


            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin="">
                </script>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
                integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                crossorigin="" />


            <script type="text/javascript" src="../public/js/heatmap.js-2.0.5/build/heatmap.js"></script>
            <script type="text/javascript"
                src="../public/js/heatmap.js-2.0.5/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>
            <script type="text/javascript" src="../public/js/staticVariables.js"></script>
            <script type="text/javascript"
                src="../public/js/leaflet-area-select-master/dist/Map.SelectArea.min.js"></script>
            <script type="text/javascript" src="../public/js/simpleUpload.js"></script>




            <style>
                #mapid {
                    width: 1000px;
                    height: 500px;
                    position: relative;
                }
            </style>
            <script type="text/javascript" src="../public/js/upload.js"></script>


            <canvas id="pieChart" width="300" height="100"  aria-label="Hello ARIA World" role="img"></canvas>
            <canvas id="myChart" width="300" height="100"  aria-label="Hello ARIA World" role="img"></canvas>
            <script type="text/javascript" src="/public/js/radar.js"></script>
            <input type="date" id="startDate" name="From">
            <input type="date" id="endDate" name="Until">
            <button id="submitDatesButton" onclick="dateChoosed()">Range Dates</button>
            <input type="checkbox" onchange="toggleChart()" id="cheese">Choose hours of the day or Day of the week
            <script>
        
            var start = document.getElementById('startDate')
            var end = document.getElementById('endDate')
            var today= new Date().toISOString().slice(0, 10); // get Today
            var last = new Date('05 October 2019 14:48 UTC').toISOString().slice(0, 10);
            start.value = last;
            end.value=today;
            </script>
        




        </div>

        <div id="upload" style="margin-top: 75px">
            <h2>Upload.</h2>
            <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px; ">
            <p style="margin-top:35px">Κανε κι εσυ upload!</p>

            <button class="upload_btn" onclick="uploadFile()" id="UploadButton"
                title="Upload your files">Upload</button>

            <script>
                document.getElementById("")
                var myfile

            </script>




        </div>



    </div>

    <!-- <button id="myBtn"><a href="#top" style="color: blue">Top</a></button> -->
    <!-- <a id="back2Top" title="Back to top" href="#">&#10148;</a> -->

    <button onclick="scrollToTop()" id="myBtn" title="Go to top">^</button>



    <script type="text/javascript" src="../public/js/ecocharts.js"></script>

    <script src="/public/js/main_page.js"></script>

</body>

</html>