<html> 
    <head>
        <meta charset="UTF-8">

        <title>Main page</title>
        <link rel="stylesheet" href="/public/css/main_page.css">

        <link href="https://fonts.googleapis.com/css?family=Muli|Raleway&display=swap" rel="stylesheet">
         

    </head>

    <body>       

        <div class="header">
            <h1>ECO PROJECT</h1>
            <p>Every moment is a fresh beginning. </p>
           <p style="font-size: 15px;">– T.S Eliot </p>
          </div>

        <span class="colapsed_menu"  onclick="openNav() ">&#9776; </span>

             <!-- The sidebar -->
            <div id="mySidenav" class="sidebar" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="active" href="#score">Score οικολογικής μετακίνησης</a>
                <a href="#leaderboard">Leaderboard</a>
                <a href="#heatmap">Γράφημα - Heatmap</a>
                <a href="#upload">Upload</a>
                <a href="#about">About</a>
            </div>

                     
        
        <div class="main">
            
            <div id="score" style="margin-top: 0px">
                <h2>Score οικολογικής μετακίνησης.</h2>
                <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px;" >
                <p style="margin-top:35px">ΚΑΤΑΠΛΗΚΤΙΚΑ!</p>
                <p>Το γραφημα θα μπει εδω</p>
                Πρώτη σου φορά μου λες πως σου συμβαίνει αυτό
                Πως τρελαίνεσαι και δεν μπορείς ούτε λεπτό
                Μακριά από τη δική μου αγκαλιά
                Τα δικά μου τα φιλιά
                Δε κοιμάσαι
                Λες παντού με βλέπεις, πως φοβάσαι
                Μην χαθεί όλο αυτό
                Εγώ
                Στη ζωή σου λες πως φέρνω πανικό
                Εγώ
                Αχ και να ξέρες ακόμα τι μπορώ
                Εγώ
                Κι ότι είχες παλιό
                Πλέον ζει στο κενό
                Sorry αν φταίω μα έτσι απλά είμαι εγώ

                Πρώτη σου φορά μου λες πως τόσο αγαπάς
                Είχες μάθει στο να φεύγεις να τα παράτας
                Μα μη με συγκρίνεις με τα χθεσινά
                Εδώ δεν περνούν αυτά

                Δε κοιμάσαι
                Λες παντού με βλέπεις, πως φοβάσαι
                Μην χαθεί όλο αυτό

                Εγώ
                Στη ζωή σου λες πως φέρνω πανικό
                Εγώ
                Αχ και να ξέρες ακόμα τι μπορώ
                Εγώ
                Κι ότι είχες παλιό
                Πλέον ζει στο κενό
                Sorry αν φταίω μα έτσι απλά είμαι εγώ

                Εγώ
                Στη ζωή σου λες πως φέρνω πανικό
                Εγώ
                Αχ και να ξέρες ακόμα τι μπορώ
                Εγώ
                Κι ότι είχες παλιό
                Πλέον ζει στο κενό
                Sorry αν φταίω μα έτσι απλά είμαι εγώ
            </div>

            <div id="leaderboard" style="margin-top: 75px">
                <h2>Leaderboard.</h2>
                <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px;" >
                <p style="margin-top:35px">ΟΙ 3 ΚΑΛΥΤΕΡΟΙ!</p>
                <p>Δεν εισαι μεσα σε αυτους, try harder! Γραφω διαφορα για να δω την διαφορα! Δεν εχει νοημα
                    τιποτα πια! 
                    Πενηντάρικα (πενηντάρικα)
                    Απ' τα πενηντάρικα
                    Έσκασε το πορτοφόλι απ' τα πενηντάρικα
                    Έχω κάνει τα κιλά να κάνουν ακροβατικά
                    Μια ζωή ήμουνα dealer είχα γούστα ακριβά
                    Από πιτσιρικάς ήξερα τι ήθελα
                    
                    Θέλω κότερα, ελικόπτερα, θέλω οικόπεδα
                    Γούστα ακριβά, έχω γούστα ακριβά
                    Θέλω κότερα, ελικόπτερα, θέλω οικόπεδα
                    Γούστα ακριβά, έχω γούστα ακριβά
                    
                </p>
            </div>

            <div id="heatmap" style="margin-top: 75px">
                <h2>Γράφημα - Heatmap.</h2>
                <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px; " >
                <p style="margin-top:35px">Επελεξε φιλτρα!</p>
                <p>Διπλα μπορεις να δεις τον χαρτι! </p>
                Χάραξε και δε νυστάζω
                σκέφτομαι τι μου πες χθες
                Άσε με να σε κοιτάζω
                κι άμα ξημερώσει ό, τι θες
                Γύρισε να σ' αγκαλιάσω
                τώρα ξέρω πως δε φταις
                Άσε με να σε χορτάσω
                κι άμα βγει ο ήλιος ό, τι θες.
                Στο τσιγάρο που κρατώ
                Στον ένα μου Θεό
                Να μη δώσει να ξημερωθώ
                Στο κορμί αυτό το αγγελικό
                Στο στόμα που φιλώ
                Έτσι μια ζωή θα σ' αγαπώ
                Στο κορμί αυτό το αγγελικό
                Στο στόμα που φιλώ
                Έτσι μια ζωή θα σ' αγαπώ Ξάπλωσε να σε κρατήσω
                κλείσαν όλες οι πληγές
                Άσε με να σε κοιμήσω
                κι αύριο για σένα ό, τι θες
                Γύρισε να σ' αγκαλιάσω
                τώρα ξέρω πως δε φταις
                Άσε με να σε χορτάσω
                κι άμα βγει ο ήλιος ό, τι θες
                Στο τσιγάρο που κρατώ
                Στον ένα μου Θεό
                Να μη δώσει να ξημερωθώ
                Στο κορμί αυτό το αγγελικό
                Στο στόμα που φιλώ
                Έτσι μια ζωή θα σ' αγαπώ
                Στο κορμί αυτό το αγγελικό
                Στο στόμα που φιλώ
                Έτσι μια ζωή θα σ' αγαπώ
            </div>

            <div id="upload" style="margin-top: 75px">
                <h2>Upload.</h2>
                <hr style="width:50px; border:5px solid #945f90; margin-top:35px; border-radius: 100px; " >
                <p style="margin-top:35px">Κανε κι εσυ upload!</p>
                <p>Μονο σβησε τις περιοχες που δεν θες να φανουν ;) πονηρουλη  </p>
                Κυρα Γιώργαινα, ο Γιώργος σου που πάει;
                Για πού το ’βαλε και που το ξενυχτάει;
                Έβαλε το σκούρο του,
                άναψε το πούρο του,
                μπήκε στο αμάξι του
                και εντάξει του.

                Ο Γιώργος είναι πονηρός
                κι αυτά που λέει μην τα τρως!
                Από τις έντεκα και μπρος
                κυκλοφοράει για γαμπρός.

                Κυρα Γιώργαινα, στο λέω υπευθύνως
                ο Γιωργάκης σου είν’ ένας θεατρίνος!
                Για δουλειά σου μίλησε,
                πονηρά σε φίλησε,
                η αυγούλα μύρισε
                και δε γύρισε.

                Ο Γιώργος είναι πονηρός
                κι αυτά που λέει μην τα τρως!
                Από τις έντεκα και μπρος
                κυκλοφοράει για γαμπρός.

            </div>



        </div>

        <!-- <button id="myBtn"><a href="#top" style="color: blue">Top</a></button> -->
        <!-- <a id="back2Top" title="Back to top" href="#">&#10148;</a> -->

        <button onclick="scrollToTop()" id="myBtn" title="Go to top">^</button>

      


        <script src="/public/js/main_page.js"></script> 

    </body>
    </html>