<!DOCTYPE html>
<html>
    <head>
     <title>Eco-Project</title>
    </head>
    <body>
        <img>src='/public/img/welcome.jpg'</img>
        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
    </body>
</html> 