<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>



<body onload="onloadBody()">
    
   
    <canvas id="myChart" width="300" height="100"  aria-label="Hello ARIA World" role="img"></canvas>
    <script type="text/javascript" src="../public/js/radar.js"></script>
    <input type="date" id="startDate" name="From">
    <input type="date" id="endDate" name="Until">
    <button id="submitDatesButton" onclick="dateChoosed()">Range Dates</button>
    <input type="checkbox" onchange="toggleChart()" id="cheese">Choose hours of the day or Day of the week
    <script>

    var start = document.getElementById('startDate')
    var end = document.getElementById('endDate')
    var today= new Date().toISOString().slice(0, 10); // get Today
    var last = new Date('05 October 2019 14:48 UTC').toISOString().slice(0, 10);
    start.value = last;
    end.value=today;
    </script>

</body>

</html>