<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>



<body onload="onloadBody()">
    
    <canvas id="statChart" width="300" height="100"  aria-label="Hello ARIA World" role="img"></canvas>
    <script type="text/javascript" src="../public/js/statistics.js"></script>
    <div id="checkbox">
        <label>Choose which chart you want:  </label>
        
            <select name="chart" id="chartpicker" onchange=changeChart()>
                <option selected='selected' value="type">Activity</option>
                <option value="hour">Hour of the Day</option>
                <option value="day">Day of the Week</option>
                <option value="month">Month of the Year</option>
                <option value="year">Year</option>
                <option value="user">Users</option>
               
            </select>
       

    </div>
    

</body>

</html>