<!DOCTYPE html>
<html>

<head>

  <div id="mapid"></div>


  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="">
    </script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />


  
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin="">
</script>


  <script type="text/javascript" src="../public/js/heatmap.js-2.0.5/build/heatmap.js"></script>
  <script type="text/javascript"
    src="../public/js/heatmap.js-2.0.5/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>
  <script type="text/javascript" src="../public/js/staticVariables.js"></script>
  <script type="text/javascript" src="../public/js/leaflet-area-select-master/dist/Map.SelectArea.min.js"></script>




  <style>
    #mapid {
      height: 350px;
    }
  </style>
</head>

<body>
  <p>Select Area by pressing Ctrl key and drag on the map the sensitive places</p>

  <input type="file" id="docpicker" accept=".json" value="Import" />

  <button type="button" onclick="run()" id="button"> button </button>
  <button type="button" onclick="crop" id="cropButton"> Hide Areas </button>

  <div id="areaSelected">Area Selected: </div>

  <script type="text/javascript" src="../public/js/upload.js"></script>


</body>

</html>



<!-- 
randomNameGr
qqqqqq -->