<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/public/css/upload.css">
<!-- 
  <input type="date" id="startDate" name="From">
  <input type="date" id="endDate" name="Until">
  <button id="submitDatesButton" onclick="submitDates()">Range Dates</button>
  <button id="showFullHeatmapButton" onclick="showFullHeatmap()">Draw Whole Heatmap</button>
   -->
  <div id="mapid"></div>


  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin="">
    </script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />





  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/js/heatmap.js-2.0.5/build/heatmap.js"></script>
  <script type="text/javascript"
    src="../public/js/heatmap.js-2.0.5/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>
  <script type="text/javascript" src="../public/js/staticVariables.js"></script>
  <script type="text/javascript" src="../public/js/leaflet-area-select-master/dist/Map.SelectArea.min.js"></script>
  <script type="text/javascript" src="../public/js/simpleUpload.js"></script>




  <style>
    #mapid {
      margin: auto;
      /* border-radius: 200px; */
      /* width: 400px; */
      height: 400px;
      position: relative;
      z-index: 500
    }
  </style>
</head>

<body>

  <div class="text">
    <p>Select Area by pressing Ctrl key and move the mouse around the sensitive areas.</p>


    <input type="file" id="docpicker" accept=".json" name="file" value="Import" />
    <button type="button" onclick="uploadJSONFiltered()" id="uploadButton" value="Upload"> Upload Json
      (Covered)</button>
    <div id="status"> ... </div>

    <div id="areaSelected">Area Selected: </div>

    <script type="text/javascript" src="../public/js/upload.js"></script>
  </div>
  <div class="container">
    <canvas id="myChart" width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas>
  </div>

</body>

</html>



<!-- 
randomNameGr
qqqqqq -->