*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;

}


body  {
     background-color: #ffffff21;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll;
    /* padding-top: 60px;
    padding-bottom: 40px; */
    /* padding-left: 80px; */
  }

  .header {
    padding: 50px;
    text-align: center;
    /* background: #1abc9c; */
    background-image:  url("../img/patras6_f.png") ;  
    background-size: cover;
    color: white;
    font-size: 30px;
    padding-left: 0px;

  }
  

  .main{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
    padding-left: 80px;

}
 

  h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
  }

  h2 {
    /* text-align: center; */
    color: black;
    font-size: 35px;
    margin-top: 100px;
    font-weight: bold;
    /* 2863CA */
  }

  h3{
     text-align: center;
     color: rgb(187, 49, 49);
     font-size: 100px;
     margin-top: 100px;
     font-weight: bold;
     /* 2863CA */
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2863CA;
    /* background-color: #7f5c88c2; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }

  .sidebar a {
    margin-top: 50px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    /* color: #945f90; */
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #000000;
  }

  .sidebar .closebtn {
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .main {
    margin-left: 180px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
  }

  .colapsed_menu{
    font-size:30px;
    cursor:pointer; 
    position: fixed; 
    margin-top: 0px; 
    margin-left: 50px;
  }
  
  @media screen and (max-width: 700px) {
    *{font-size: 15px; }

    /* .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      margin-top: 0px;
    }
    .sidebar a {float: left; margin-top: 0px;  width: 100%;}
    div.main {margin-left: 0;}
    .sidebar .closebtn { position: relative;    }
    .colapsed_menu {    position: relative;    } */

    .sidebar {
      margin: 0;
      padding: 0;
      width: 160px;
      background-color: #2863CA;
      position: fixed;
      height: 100%;
      overflow: auto;
    }

    .sidebar a {
      display: block;
      color: white;
      font-size: 15px;
      padding: 16px;
      text-decoration: none;
    }
     
  
   
    .sidebar a:hover {
      color: #000000;
    }
    
    .main {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }

    h1{font-size: 20px;     text-align: auto;   }

    h2{font-size: 20px;     text-align: auto;   }

  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
      width: 100%;

    }
  }

  #myBtn {
    /* background-color: teal; */
    background-color:  rgba(0, 0, 0, 0.6);
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    display: none;
    outline: medium none;
    padding: 10px 15px 7px;
    position: fixed;
    right: 20px;
    z-index: 99;
    font-size: 35px;
    /* width: 40px;
    height: 40px; */

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #2863CA;
}

#delete_btn{
    background-color:  red;
    border: medium none;
    border-radius: 20px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    /* position: fixed; */
    /* right: 20px; */
    /* z-index: 99; */
    font-size: 35px;
    /* width: 40px;
    height: 40px; */
}


#delete_btn:hover{
    background-color: yellow;
    color: black;
}

#download_btn{
    background-color:  #945f90;
    border: medium none;
    border-radius: 20px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    /* position: fixed; */
    /* right: 20px; */
    /* z-index: 99; */
    font-size: 35px;
    /* width: 40px;
    height: 40px; */
}


#download_btn:hover{
    color: black;
}

#rangedHeatmap {  
    width: 150px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #rangedHeatmap:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  #showFullHeatmapButton{  
    width: 250px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #showFullHeatmapButton:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  #selectall{  
    width: 200px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #selectall:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #okdelete {  
    width: 150px;
    height: 40px;
   background-color:  red;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #okdelete:hover {
    background-color:  yellow;
    color: black;
  }

  #goback {  
    width: 150px;
    height: 40px;
   background-color:  green;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #goback:hover {
    background-color:  greenyellow;
    color: black;
  }

