*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
} 

body{
  font-family: "Josefin Sans", sans-serif;
}

.main{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
  padding-left: 30px;

}
 
h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30px;
}

h2 {
  color: black;
  font-size: 20px;
  margin-top: 100px;
  font-weight: bold;
}

.navbar {
  z-index:2;
  font-size: 18px;
  background-image: linear-gradient(260deg, #3a8ec5 0%, #aa6da5   100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.navmenu {
  list-style-type: none; 
  /* για να μην φανεί η λίστα */
}

.navmenu li {
    text-align: center;
    margin: 15px auto;
}

.links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
}    

  
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  margin-left: 20px;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  
}

.responsive { 
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.navmenu {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
  }

.logo:hover {
  color: rgba(255, 255, 255, 1);
}

.links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#mapid {
    width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px) {    

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}    

  .navmenu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}    
  
  .navmenu li {
    margin: 0;
}    

  .links {
    margin-left: 40px;
}    

  .logo {
    margin-top: 0;
}   

  .responsive {
   display: none;
}  

}


#delete_btn{
    background-color:  red;
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    font-size: 20px;
}


#delete_btn:hover{
    background-color: yellow;
    color: black;
}

#download_btn{
    background-color:  #945f90;
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    font-size: 20px;
}


#download_btn:hover{
    color: black;
}

#rangedHeatmap {  
    width: 150px;
    height: 40px;
   background-color:  #945f90;
   bottom: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

#rangedHeatmap:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
}

#showFullHeatmapButton{  
    width: 250px;
    height: 40px;
   background-color:  #945f90;
   bottom: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
}

#showFullHeatmapButton:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
}

#selectall{  
    width: 200px;
    height: 40px;
   background-color:  #945f90;
   bottom: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
}

#selectall:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#okdelete {  
    width: 150px;
    height: 40px;
   background-color:  red;
   bottom: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
}

#okdelete:hover {
    background-color:  yellow;
    color: black;
}

#goback {  
    width: 150px;
    height: 40px;
   background-color:  green;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
}

#goback:hover {
    background-color:  greenyellow;
    color: black;
   
}


