*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;

} 


body  {

    font-family: "Josefin Sans", sans-serif;
 
     /* background-color: #ffffff21;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll; */
    /* padding-top: 60px;
    padding-bottom: 40px; */
    /* padding-left: 80px; */
  }

  .navbar {
    z-index:2;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
    color: white;
}
.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    
}
.main-nav li {
    text-align: center; 
    margin:  auto;
    color: white;
    }
    
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.main-nav {
    list-style-type: none;
    display: none;
    color: white;
}
.active {
    display: block;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: 768px) {    
    .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}    
.main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}    .main-nav li {
    margin: 0;
}    .nav-links {
    margin-left: 40px;
}    .logo {
    margin-top: 0;
}   .navbar-toggle {
   display: none;
}    .logo:hover,
.nav-links:hover {
    color: rgba(255, 255, 255, 1);
}

  }
  

  .main{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
    padding-left: 80px;

}
 

  h1 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
  }

  h2 {
    /* text-align: center; */
    color: black;
    font-size: 20px;
    margin-top: 100px;
    font-weight: bold;
    /* 2863CA */
  }

  h3{
     text-align: center;
     color: rgb(187, 49, 49);
     font-size: 100px;
     margin-top: 100px;
     font-weight: bold;
     /* 2863CA */
  }

  
  .main {
    margin-left: 180px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
  }

 
  
  @media screen and (max-width: 700px) {
    *{font-size: 15px; }

   
    .main {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }

    h1{font-size: 20px;     text-align: auto;   }

    h2{font-size: 20px;     text-align: auto;   }

  }


  #myBtn {
    /* background-color: teal; */
    background-color:  rgba(0, 0, 0, 0.6);
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    display: none;
    outline: medium none;
    padding: 10px 15px 7px;
    position: fixed;
    right: 20px;
    z-index: 99;
    font-size: 35px;
    /* width: 40px;
    height: 40px; */

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #2863CA;
}

#delete_btn{
    background-color:  red;
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    /* position: fixed; */
    /* right: 20px; */
    /* z-index: 99; */
    font-size: 20px;
    /* width: 40px;
    height: 40px; */
}


#delete_btn:hover{
    background-color: yellow;
    color: black;
}

#download_btn{
    background-color:  #945f90;
    border: medium none;
    border-radius: 10px;
    bottom: 20px;
    color:white;
    cursor: pointer;
    outline: medium none;
    padding: 10px 15px 7px;
    /* position: fixed; */
    /* right: 20px; */
    /* z-index: 99; */
    font-size: 20px;
    /* width: 40px;
    height: 40px; */
    
}


#download_btn:hover{
    color: black;
}

#rangedHeatmap {  
    width: 150px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #rangedHeatmap:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  #showFullHeatmapButton{  
    width: 250px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #showFullHeatmapButton:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  #selectall{  
    width: 200px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #selectall:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #okdelete {  
    width: 150px;
    height: 40px;
   background-color:  red;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #okdelete:hover {
    background-color:  yellow;
    color: black;
  }

  #goback {  
    width: 150px;
    height: 40px;
   background-color:  green;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

   #goback:hover {
    background-color:  greenyellow;
    color: black;
   
  }

 #logout{
  background-color:  rgb(72, 73, 72);
  color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  outline: none;
 }

 #logout:hover {
  background-color:  rgb(43, 28, 180);
  color: rgb(255, 255, 255);
}