*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
} 

body{
  font-family: "Josefin Sans", sans-serif;
}

.main{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
  padding-left: 30px;

}
 
h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30px;
}

h2 {
  color: black;
  font-size: 20px;
  margin-top: 100px;
  font-weight: bold;
}

.navbar {
  z-index:2;
  font-size: 18px;
  background-image: linear-gradient(260deg, #3a8ec5 0%, #aa6da5   100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.navmenu {
  list-style-type: none; 
  /* για να μην φανεί η λίστα */
}

.nav-links, .logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
}

.navmenu li {
    text-align: center;
    margin: 15px auto;
}

.logo {
  margin-left: 20px;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  
}

.navbar-toggle { 
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.navmenu {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
  }

.logo:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#mapid {
    width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px) {    

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}    

  .navmenu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}    
  
  .navmenu li {
    margin: 0;
}    

  .nav-links {
    margin-left: 40px;
}    

  .logo {
    margin-top: 0;
}   

  .navbar-toggle {
   display: none;
}  

  .logo:hover{
  color: rgba(255, 255, 255, 1);
}

  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

}
/*   
  @media screen and (max-width: 700px) {
    *{font-size: 15px; }

   
    .main {
      padding-left: 8px;
      padding: 1px 16px;
      height: 1000px;
    }

    h1{font-size: 2px;     text-align: auto;   }

    h2{font-size: 2px;     text-align: auto;   }

  } */


.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'Select some files';
display: inline-block;
background: linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
}
.custom-file-input:hover::before {
border-color: black;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.upload_btn{
 width: 150px;
 height: 40px;
background-color:  #945f90;
border-radius: 10px;
bottom: 20px;
margin-top: 20px;
margin-bottom: 20px;
color:white;
cursor: pointer;
outline: medium none;
} 

.upload_btn:hover {
background-color:  rgba(0, 0, 0, 0.6);
color: white;
}

#submitDatesButton{
    width: 150px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
     
   } 
   
   #submitDatesButton:hover {
   background-color:  rgba(0, 0, 0, 0.6);
   color: white;
   }

   #showFullHeatmapButton{
    width: 200px;
    height: 40px;
   background-color:  #945f90;
   /* border-radius: 10px; */
   bottom: 20px;
   /* padding: 10px 15px 7px; */
   margin-top: 20px;
   margin-bottom: 20px;
   color:white;
   cursor: pointer;
   outline: medium none;
   }

#showFullHeatmapButton:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    color: white;
    }

#logout{
      background-color:  rgb(72, 73, 72);
      color: white;
      width: 80px;
      height: 30px;
      cursor: pointer;
      outline: none;
     }
    
#logout:hover {
      background-color:  rgb(43, 28, 180);
      color: rgb(255, 255, 255);
    }